<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MWAdventure Park{% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='admin_styles.css') }}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>

<body>
    <div class="admin-container">
        <aside class="admin-sidebar">
            <h4 class="mb-4">Admin</h4>

            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/dashboard' %}active{% endif %}" href="/dashboard">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path in ['/reservations', '/add_reservations'] %}active{% endif %}" href="/reservations">
                        Reservations
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/profile' %}active{% endif %}" href="/profile">
                        Profile
                    </a>
                </li>

                <li class="nav-item mt-3">
                    <a class="nav-link text-danger" href="/">
                        Logout
                    </a>
                </li>

            </ul>
        </aside>

        <main class="admin-content">
            {% block main %}{% endblock %}
        </main>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>